version: "3.4"

services:
  nginx:
    image: nginx:1.25-alpine
    container_name: web
    volumes:
      - ./website:/var/www
      - .docker/nginx/conf/gc-compta.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm
      - db
  php-fpm:
    build:
      context: ./.docker/php
      target: prod
    volumes:
      - ./website:/var/www
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      SERVER_NAME: localhost, nginx:80
      TRUSTED_PROXIES: 127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
      TRUSTED_HOSTS: ^gc-compta\.local|localhost|php$$
      DATABASE_URL: mysql://app:app@db:3306/app?serverVersion=11.0.4-MariaDB&charset=utf8mb4
  db:
    image: mariadb:11.0.4
    volumes:
      - ./.docker/db/data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app

